[Service]
Type=oneshot
ExecStart=/bin/sh -c 'env > /tmp/ammon/env-results'
Environment=SECRET='sakdjfklasjflaskdf'
Environment=FLAGS="abc def"

[Install]
WantedBy=default.target

