[Unit]
Description=EasyEffects source/sink daemon
Requires=pipewire.service wireplumber.service

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/bin/easyeffects --gapplication-service

[Install]
WantedBy=default.target
