[Unit]
Description=ibus daemon
Wants=environment.target
Before=environment.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/ibus-daemon -rvx --desktop=i3
Restart=always

[Install]
WantedBy=default.target
