[User]
Description=Run a minecraft server
Wants=network-online.target
After=network.target network-online.target

[Service]
Restart=always
RestartSec=240
Type=simple
ExecStart=/bin/sh -c 'cd ~/documents/games/Minecraft Server/%I; exec ./run.sh'

[Install]
WantedBy=default.target
