[Unit]
Description=Run a local minecraft server
Wants=network-online.target
After=network.target network-online.target

[Service]
Restart=always
RestartSec=240
Type=simple
ExecStart=%h/documents/games/minecraft-servers/%I/run.sh

[Install]
WantedBy=default.target
