[Unit]
Description=Music on Curses server
After=network.target sound.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/mocp --server
ExecStop=/usr/bin/mocp --exit

[Install]
WantedBy=default.target

