[Unit]
Description=Load NVidia settings

[Service]
Type=oneshot
ExecStart=/usr/local/scripts/wm/load-nvidia-settings.sh

[Install]
WantedBy=default.target

