[Unit]
Description=New wallpaper on wakeup
After=suspend.target

[Service]
Type=oneshot
User=ammon
Environment="DISPLAY=:0"
ExecStart=/usr/local/scripts/wm/new-wallpaper.sh

[Install]
WantedBy=suspend.target

