# To prevent vimscript from occuppying 99% of the language bar
.vim/after linguist-vendored
.vim/autoload linguist-vendored
.vim/colors linguist-vendored
.vim/ftplugin linguist-vendored
.vim/plugin linguist-vendored

