[user]
    email = ammon.i.smith@gmail.com
    name = Ammon Smith
    signingkey = "2C3CF0C7"
[core]
    editor = vim
    precomposeunicode = true
    pager = less -x1,9
[color]
    branch = auto
    diff = auto
    status = auto
    showbranch = auto
    ui = true
[credential]
    helper = cache --timeout 1800
[push]
    default = simple
[github]
    user = ammon
[alias]
    last = log -1 HEAD
    edit = !vim -p $(git ls-files -m)
    unstage = reset HEAD --
    discard = checkout --
    cached = diff --cached
    amend = commit --amend
    graph = log --graph --branches --remotes --tags --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    untrack = rm -r --cached
    branches = branch -a
    tags = tag
    stashes = stash list
    remotes = remote -a
[commit]
    gpgsign = false
[push]
    default = current

[url "https://aur.archlinux.org/"]
    insteadOf = aur://
[url "https://ssh+git://aur4.archlinux.org/"]
    pushInsteadOf = aur://

[url "https://github.com/"]
    insteadOf = gh://
[url "git@github.com:"]
    pushInsteadOf = gh://
    insteadOf = gh2://

[url "https://gitlab.com/"]
    insteadOf = gl://
[url "git@gitlab.com:"]
    pushInsteadOf = gl://
    insteadOf = gl2://


[url "https://git.ammonsmith.me/"]
    insteadOf = gt://
[url "git@git.ammonsmith.me:"]
    pushInsteadOf = gt://
    insteadOf = gt2://

[url "https://git.programming.im/"]
    insteadOf = tps://
[url "gitea@git.programming.im:"]
    pushInsteadOf = tps://
    insteadOf = tps2://
