[user]
    email = emmie.maeda@gmail.com
    name = Emmie Maeda
    signingkey = "2C3CF0C7"
[core]
    editor = vim
    precomposeunicode = true
    pager = diff-so-fancy | less -RFX
    autocrlf = input
[color]
    branch = auto
    diff = auto
    status = auto
    showbranch = auto
    ui = true
[credential]
    helper = cache --timeout 1800
[push]
    default = simple
[alias]
    last = log -1 HEAD
    edit = !vim -p $(git ls-files -m | uniq)
    unstage = restore --staged --
    discard = checkout --
    cached = diff --cached
    amend = commit --amend
    master = checkout master
    main = checkout main
    develop = checkout develop
    graph = log --graph --branches --remotes --tags --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    wdiff = diff --word-diff=color --word-diff-regex=.
    untrack = rm -r --cached
    branches = branch -a
    tags = tag
    stashes = stash list
    remotes = remote -a
[commit]
    gpgsign = false
[push]
    default = current
[pull]
    rebase = true

[interactive]
    diffFilter = diff-so-fancy --patch
[diff-so-fancy]
    markEmptyLines = false
    stripLeadingSymbols = false

[url "https://aur.archlinux.org/"]
    insteadOf = aur://
[url "https://ssh+git://aur4.archlinux.org/"]
    pushInsteadOf = aur://

[url "https://github.com/"]
    insteadOf = gh://
[url "git@github.com:"]
    pushInsteadOf = gh://
    insteadOf = gh2://

[url "https://gitlab.com/"]
    insteadOf = gl://
[url "git@gitlab.com:"]
    pushInsteadOf = gl://
    insteadOf = gl2://

[url "https://git.ammonsmith.me/"]
    insteadOf = gt://
[url "git@git.ammonsmith.me:"]
    pushInsteadOf = gt://
    insteadOf = gt2://

[url "https://git.programming.im/"]
    insteadOf = tps://
[url "gitea@git.programming.im:"]
    pushInsteadOf = tps://
    insteadOf = tps2://
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
