#!/bin/sh
# xprofile - Commands to run before the window manager is started.

# Swap escape and caps lock for vim
/usr/local/scripts/wm/vim-keyswap.sh

# Disable acceleration
xset m 0 0

# Set device-specific settings
xinput --set-prop 'ZLY ZELOTES GAME MOUSE' 'Device Accel Constant Deceleration' 0.4
xinput --set-prop 'ZLY ZELOTES GAME MOUSE' 'Device Accel Adaptive Deceleration' 1
xinput --set-prop 'ZLY ZELOTES GAME MOUSE' 'Device Accel Velocity Scaling' 10

xinput --set-prop 'USB Optical Mouse' 'Device Accel Constant Deceleration' 1
xinput --set-prop 'USB Optical Mouse' 'Device Accel Adaptive Deceleration' 1
xinput --set-prop 'USB Optical Mouse' 'Device Accel Velocity Scaling' 7

export XMODIFIERS=@uim=xim
export GTK_IM_MODULE=uim
export QT_IM_MODULE=uim

