#!/bin/sh
# xprofile - Commands to run before the window manager is started.

doecho() {
	echo "$@"
	"$@"
}

# Adjust monitor configuration
doecho /usr/local/scripts/wm/screenlayout/run.sh

# Swap escape and caps lock for vim
doecho /usr/local/scripts/wm/vi-keyswap.sh

# Set device-specific settings
doecho xinput --set-prop '2.5G Mouse' 'libinput Accel Speed' 0.50
doecho xinput --set-prop 'USB Optical Mouse' 'libinput Accel Speed' -0.25

# Disable acceleration
doecho xset m 0 0

unset doecho

# vim: set ft=sh:
